.parteGeneral {
    padding: 50px;
    padding-top: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    
}

.parteIzquierda {
  width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parteDerecha {
  width: 100vh;
  display: flex;
  background-color: white;
    border-radius: 10px;
    
}

.parteDerecha h1 {
  font-size:5px;
  font-family: Poppins, sans-serif;
  margin-bottom: 20px;
  
}
.asientoIzquierda {
  margin-left: 14px;
}
.butacasEstilo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.22);
  box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.22);
}

.pantallaEstilo{
  width: 95%;
  height: 40px;
  
}
.pantallaEstilo h1{
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 
}


.tarjetaPelicula {
  background-color: #F6F6F6;
  padding: 20px;
  text-align: center;
  width: 50%;
  height: auto;
  -webkit-box-shadow: 23px -23px 0px -12px rgba(255,0,0,1);
-moz-box-shadow: 23px -23px 0px -12px rgba(255,0,0,1);
box-shadow: 23px -23px 0px -12px rgba(255,0,0,1);
}
.tarjetaPelicula img {
  width: 50%;
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: -9px 10px 10px 1px rgba(230,230,230,0.83);
  -moz-box-shadow: -9px 10px 10px 1px rgba(230,230,230,0.83);
  box-shadow: -9px 10px 10px 1px rgba(230,230,230,0.83);
}



.seat-button {
  background-color: rgb(172, 4, 4);
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 55px;
  height: 55px;
  font-size: 15px;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.seat-button:hover {
  background-color: #ccc;
}

.seat-button:active {
  background-color: #ddd;
}

.seat-button.selected {
  background-color: green;
}

/** 
Tamaño de la letra
**/
.titulo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
}

.datosAsientos h1 {
  display: flex;
  align-items: flex-start;
  margin-left: 30px;
  font-size: 100%;
  font-family: Poppins, sans-serif;
}



.seat-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.seat-section {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
