.parteGeneral {
    padding: 50px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.parteIzquierda {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parteDerecha {
  width: 600px;
  display: flex;
  background-color: white;
    border-radius: 10px;
    border: 10px solid white;
}



.tarjetaPelicula {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  width: 50%;
  
}
.tarjetaPelicula img {
  width: 240px;
  height:300px;
  border: 1px solid black;
  border-radius: 10px;
}
.titulo {
  margin-bottom: 20px;
}

.seat-button {
  background-color: grey;
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.seat-button:hover {
  background-color: #ccc;
}

.seat-button:active {
  background-color: #ddd;
}

.seat-button.selected {
  background-color: green;
}

.tarjetaPelicula h1 {
  font-size: 20px;
  font-weight: bold;
}
.seat-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.seat-section {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
