.cuadroPrincipal {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 550px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    border-bottom: 3px solid #ff0000;
}
.cuadroIzquierdo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    align-items: center;

}
.cuadroIzquierdo img{
    width: 310px;
    height: 447px;
    -webkit-box-shadow: -9px 10px 10px 1px rgba(230,230,230,0.83);
-moz-box-shadow: -9px 10px 10px 1px rgba(230,230,230,0.83);
box-shadow: -9px 10px 10px 1px rgba(230,230,230,0.83);
}



.cuadroDerecho {
    width: 100%;
    height: 100%;
}
.cuadroDerechoInfo {
    width: 100%;
    height: 100%;

}
.textoInformacionPelicula {
    max-width: 60%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
}

.textoInformacionPelicula div{
  background-color: #F6F6F6;
}

.textoInformacionPelicula h1{
    color: red;
    display: flex;
    justify-content: center;
}
.textoInformacionPelicula p{
  margin-left: 10%;  
  margin-right: 10%;
    color: black;
    
}
.general {
    background-color: rgb(#ffffff);
}
.trailerPelicula {
  padding: 30px;
}
.sedeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 10px;
}

.horarios h2{
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;

}

.horarioContenido{
  margin: 20px;
  padding-top: 30px;
  padding-left: 40vh;
  padding-right: 40vh;
}


.contenidoConTrailer {
  -webkit-box-shadow: 23px -23px 0px -12px rgba(255,0,0,1);
-moz-box-shadow: 23px -23px 0px -12px rgba(255,0,0,1);
box-shadow: 23px -23px 0px -12px rgba(255,0,0,1);

}


.textoHorario {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}
.horariosStyle{
  margin-left: 20%;
  margin-right: 20%;
  max-width: 60%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
  
}